button {
    border-radius: 0.5em;
    background-color: var(--primary-color);
    color: var(--primary-font-color);
    border: none;
    padding: 10px 20px;
    transition: .2s ease-in-out;
    font-size: larger;
}

button:hover {
    background-color: var(--primary-font-color);
    color: var(--primary-dark-color);
    box-shadow: inset 0 0 5px 2px var(--primary-dark-color);
    border: none;
    padding: 10px 20px;
    animation: buttonHover 0.3s ease-in-out;
}

button:active {
    background-color: var(--primary-dark-color) !important;
    color: var(--primary-color);
    box-shadow: inset 0 0 5px 2px var(--primary-dark-color);
    border: none;
    padding: 10px 20px;
}


div{
    display: flex;
    gap: 1rem;
    margin-right: 1.5rem;
}