<div>
    <button class="btn btn-outline-success" type="submit"><i class="bi bi-question"></i></button>



    <button class="btn btn-outline-success" type="submit" data-bs-toggle="dropdown" aria-expanded="false"><i
            class="bi bi-person"></i></button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Profilom</a></li>
        <li><a class="dropdown-item" href="#">Hirdetéseim</a></li>
        <li><a class="dropdown-item" href="#">Kijelentkezés</a></li>
    </ul>
</div>