<header>
    <p-toolbar [style]="{ 'border': 'none', 'padding': '1rem 1rem 1rem 1.5rem' }">
        <ng-template #start id="start">
            <div class="flex items-center gap-2 left">
                <img src="main_logo.png" alt="Logo" />
                <div class="card flex justify-center">
                    <p-autocomplete [(ngModel)]="selectedItem" [suggestions]="filteredItems"
                        (completeMethod)="filterItems($event)" optionLabel="name" />
                </div>
                <p-button text plain severity="contrast" size="small" ><i class="pi pi-search"></i></p-button>
            </div>
        </ng-template>

        <ng-template #end>
            <div class="flex items-center gap-2 end">
                <p-button label="Súgó" severity="contrast" size="small" />
                <p-button text plain severity="contrast" size="small" ><i class="pi pi-user" style="font-size: 1.5rem"></i></p-button>
            </div>
        </ng-template>
    </p-toolbar>

</header>