header {
    border-radius: 0 !important;
    position:sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: transparent !important;
}

::ng-deep .p-toolbar {
    background-color: var(--highlight-bg);
    box-shadow: 0 0 10px 2px var(--primary-dark-color);
    border-radius: 0 !important;
    position: relative;
    backdrop-filter: blur(12px);

}


img {
    width: 32px;
    height: 32px;
}

.left {
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    gap: 2rem;
}

.right {
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    gap: 2rem;
}

::ng-deep #newAdButton {
    display: flex;
    align-items: center;
    justify-content: center;

}



::ng-deep #filter input,
::ng-deep #filter {
    width: 20rem;
    transition: width 0.3s ease-in-out;
}


::ng-deep #filter input:focus,
::ng-deep #filter:focus-within {
    width: 25rem;
}

::ng-deep .p-inputtext:enabled:focus {
    border-color: var(--primary-color) !important;
    outline: 1px var(--primary-color) !important;

}


::ng-deep .p-inputtext:has(:focus) ::ng-deep #newAdButton .p-button-label {
    display: none !important;
}

@media (min-width: 780px) {
    ::ng-deep #newAdButton .p-button-label {
        opacity: 0;
        width: 0;
        margin: -0.2rem !important;
        white-space: nowrap;
        transform: translateX(-10px);
        transition: 0.3s ease-in-out;
    }

    ::ng-deep #newAdButton:hover .p-button-label {
        width: 6rem;
        opacity: 1;
        transform: translateX(0);
    }

}

@media (max-width: 840px) {
    ::ng-deep #newAdButton .p-button-label {
        display: none !important;
    }

    ::ng-deep #filter input:focus,
    ::ng-deep #filter:focus-within {
        width: 20rem !important;
    }
}

@media (max-width: 680px) {

    :host ::ng-deep #toolbar .p-toolbar-group-start,
    :host ::ng-deep #toolbar .p-toolbar-group-end,
    :host ::ng-deep #toolbar .p-toolbar-start,
    :host ::ng-deep #toolbar .p-toolbar-end {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .left,
    .right {
        justify-content: center;
    }

    .right {
        align-items: center;
        align-self: center;
        justify-content: center;
    }

    header {
        background-color: var(--primary-color);
        color: var(--text-color);
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

}