body{
    background-image: url("../../public/BackGround.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.scroll-to-top {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 1050;

    width: 3rem;
    height: 3rem;
    border: 0;
    border-radius: 9999px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    background-color: var(--primary-color);
    color: var(--primary-font-color);

    box-shadow: 0 2px 10px 5px rgba(10, 9, 9, 0.1);

    transition: 0.3s;
}

.scroll-to-top:focus-visible {
    outline: 2px solid var(--primary-dark-color);
    outline-offset: 2px;
}

.scroll-to-top:hover {
    box-shadow: 0 4px 15px 5px rgba(10, 9, 9, 0.2);
    transform: scale(1.1);
    transition: 0.3s;
}
