
<p-accordion>
    @for (ticket of tickets; track ticket.id) {
    <p-accordion-panel [value]="ticket.id" class="col col-xl-8 lg-8 sm-8 col-12 mx-auto mt-3 mb-3">
        <p-accordion-header>{{ ticket.question }}</p-accordion-header>
        <p-accordion-content>
            <p class="m-0">
                {{ ticket.answer }}
            </p>
            <p-divider />
            <span>{{ ticket.created_at | date }}</span>
        </p-accordion-content>
    </p-accordion-panel>
    }
</p-accordion>


<p-card header="Nem találod a választ a kérdésedre? Küldj e-mailt nekünk és megválaszoljuk!" class="col col-xl-8 lg-8 sm-8 col-12 mx-auto mt-3 mb-3" id="newQuestion">
    <p class="m-0 w-full flex flex-column gap-3">
        <input type="text" pInputText [(ngModel)]="email" placeholder="Írd be az e-mail címed..." class="xl-12 lg-12 sm-12"/>
        <input type="text" pInputText [(ngModel)]="emailSubject" placeholder="Írd be a kérdésed tárgyát..." />
        <textarea placeholder="Írd be a kérdésedet..." rows="5" cols="30" pTextarea [(ngModel)]="emailContent"></textarea>
    </p>

    <p-button id="sendEmailBtn" class="sendEmailBtn" label="Küldés" icon="pi pi-send" (click)="sendEmail()"></p-button>
</p-card>




