/* You can add global styles to this file, and also import other style files */
@import '../node_modules/primeicons/primeicons.css';

:root {
    --primary-dark-color: var(--p-gray-800);
    --primary-color: var(--p-orange-400);
    
    --primary-font-color: var(--p-stone-50);

    --newAdButton-bg-color: var(--p-green-400);

    --primary-theme-color: var(--p-gray-800);;
}

body{
    background-color: var(--highlight-bg);
}


@keyframes buttonHover {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.03);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }

}

