/* You can add global styles to this file, and also import other style files */
:root {
    --primary-dark-color: #50504F;
    --primary-color: #E4832A;
    
    --primary-font-color: #FFFFFF;

    --newAdButton-bg-color: rgb(56, 185, 30);
}

body{
    background-color: linear-gradient(#2F2D2B, #4E3925);
}


@keyframes buttonHover {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.03);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }

}