::ng-deep .p-card-body,
.main,
.ad-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: fit-content !important;
    padding-top: 2rem;
    padding: 4rem;
    width: 95vw !important;
    margin: 0 auto !important;
    overflow: hidden;
}

.imageCard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh!important;
    width: 40vw!important;
    overflow: hidden;
    width: 40% !important;
    max-width: 45vw;
    padding-right: 5vw !important;
}

::ng-deep .p-carousel {
    width: 50vw !important;
    margin-bottom: 2rem;
    padding-left: 15vw !important;
}

::ng-deep .p-carousel .p-carousel-content,
::ng-deep .p-carousel .p-carousel-viewport,
::ng-deep .p-carousel .p-carousel-items-content {
    height: 40vh;
    overflow: hidden;
}

::ng-deep .p-carousel .p-carousel-item {

    display: flex;
    justify-content: center;
    align-items: center;
}

.imageCard img {
    height: 40vh !important;
    width: 30vw !important;
    max-width: 40vw;
    object-fit: cover !important;
    border-radius: 0.8rem;
}

::ng-deep .p-carousel-indicator-active .p-carousel-indicator-button {
    background-color: var(--primary-color) !important;
}



.data {
    width: 60% !important;
}

.card-content {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    text-align: left;
}

.ad-name {
    color: var(--primary-color);
    margin-top: 0;
    margin-bottom: 0.25rem;
    width: 75% !important;
    height: fit-content;
    word-wrap: break-word;
    overflow: hidden;
}

.ad-category {
    opacity: 0.7;
    margin-bottom: 1.5rem;
    font-size: 0.95rem;
}

.ad-description {
    font-style: italic;
    flex: 1;
    overflow-y: auto;
    margin: 0;
    padding-right: 1rem;
}

.card-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
    margin-top: 5rem;
    width: 20rem !important;
    height: fit-content !important;
    margin-top: 22vh !important;
    margin-right: 10vw;
    float: right !important;

    position: relative !important;
    bottom: 0 !important;
    margin-left: 1rem;
    background-color: var(--primary-color) !important;
    color: #ffffff;
    border: none;
    border-radius: 0.4rem;
    padding: 0.8rem 1.5rem;
    font-weight: 600;
    font-size: 1rem;
    cursor: default;
    transition: filter 0.2s ease;
    &:hover {
        filter: drop-shadow(0 0 2px var(--primary-color));
    }
}

.ad-price {
    font-size: 1.4rem;
    font-weight: bold;
}

.add-to-cart {
    background-color: var(--primary-font-color);
    color: var(--primary-dark-color);
    border: none;
    border-radius: 0.4rem;
    padding: 0.8rem 1.5rem;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

.add-to-cart:hover {
    box-shadow: inset 0 0 0 2px var(--primary-font-color);
    background-color: var(--primary-dark-color);
    color: var(--primary-font-color);
    animation: buttonHover 0.3s ease-in-out;
}