<p-toast />
<h3>Új hírdetés feladása</h3>

<div id="stepper" class="card flex justify-center">
    <p-stepper [value]="1" class="basis-[50rem]" [linear]="true">
        <p-step-list>
            <p-step [value]="1">Hírdetés adatai</p-step>
            <p-step [value]="2">Képek feltöltése</p-step>
            <p-step [value]="3">Összegzés</p-step>
        </p-step-list>
        <p-step-panels>
            <p-step-panel [value]="1">
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex flex-col">
                        <div class="stepper-panel-box">
                            <div class="stepperContent">
                                <div class="stepperLeft">
                                    <p-inputgroup>
                                        <p-inputgroup-addon><i class="pi pi-box"></i></p-inputgroup-addon>
                                        <input pInputText placeholder="Termék teljes neve" [(ngModel)]="newAdvert.name"/>
                                    </p-inputgroup>
                                    <p-inputgroup>
                                        <p-inputgroup-addon><i class="pi pi-wallet"></i></p-inputgroup-addon>
                                        <input pInputText placeholder="Irányár (Ft)" [(ngModel)]="newAdvert.price"/>
                                    </p-inputgroup>
                                </div>
                                <div class="stepperRight">
                                    <p-select 
                                        optionLabel="name" optionValue="id"
                                        placeholder="Kategória kiválasztása" 
                                        [options]="categories" 
                                        [(ngModel)]="newAdvert.category_id"
                                        class="w-full" />
                                    <p-select 
                                        optionLabel="name" optionValue="id"
                                        placeholder="Preferált fizetési mód" 
                                        [options]="paymentMethods" 
                                        [(ngModel)]="newAdvert.payment_method"
                                        class="w-full" />
                                </div>
                            </div>
                            <p-iftalabel>
                                <textarea pTextarea id="description" [(ngModel)]="newAdvert.description"></textarea>
                                <label for="description">Leírás</label>
                            </p-iftalabel>
                        </div>
                        <div class="flex pt-6 justify-end">
                            <p-button label="Tovább" severity="warn" icon="pi pi-arrow-right" iconPos="right"
                                (onClick)="activateCallback(2)" />
                        </div>
                    </div>
                </ng-template>
            </p-step-panel>

            <p-step-panel [value]="2">
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex flex-col">
                        <div class="stepper-panel-box uploader-box">
                            <div class="card w-full">
                                <p-fileupload name="demo[]"
                                    [multiple]="true" accept="image/*" maxFileSize="10000000" mode="advanced"
                                    [auto]="false" [customUpload]="true"
                                    (onSelect)="onSelectFiles($event)"
                                    (onRemove)="onRemoveFile($event)"
                                    (onClear)="onClearFiles()">
                                    <ng-template #empty>
                                        <div>Húzd ide a képeket a feltöltéshez.</div>
                                    </ng-template>
                                </p-fileupload>
                            </div>
                        </div>
                    </div>
                    <div class="flex pt-6 justify-between">
                        <p-button label="Vissza" severity="secondary" icon="pi pi-arrow-left" (onClick)="activateCallback(1)" />
                        <p-button label="Tovább" severity="warn" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(3)" />
                    </div>
                </ng-template>
            </p-step-panel>

            <p-step-panel [value]="3">
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex flex-col">
                        <div class="stepper-panel-box">
                            <div class="summary-panel">
                                <p-panel header="Adatok ellenőrzése">
                                    <div class="summary-grid">
                                        <span class="summary-label">Név:</span>
                                        <span>{{newAdvert.name}}</span>
                                        <span class="summary-label">Ár:</span>
                                        <span>{{newAdvert.price}} Ft</span>
                                        <span class="summary-label">Kategória:</span>
                                        <span>{{getCategoryName(newAdvert.category_id)}}</span>
                                        <span class="summary-label">Fizetési mód:</span>
                                        <span>{{getPaymentMethodName(newAdvert.payment_method)}}</span>
                                        <span class="summary-label">Leírás:</span>
                                        <span>{{newAdvert.description}}</span>
                                        <span class="summary-label">Képek:</span>
                                        <span>{{selectedFiles.length}} kép kiválasztva</span>
                                    </div>
                                    <div class="flex justify-end pt-4">
                                        <p-button label="Hírdetés feladása" severity="warn" icon="pi pi-check" iconPos="right"
                                            (onClick)="postAdvert()" />
                                    </div>
                                </p-panel>
                            </div>
                        </div>
                    </div>
                    <div class="flex pt-6 justify-start">
                        <p-button label="Vissza" severity="secondary" icon="pi pi-arrow-left" (onClick)="activateCallback(2)" />
                    </div>
                </ng-template>
            </p-step-panel>
        </p-step-panels>
    </p-stepper>
</div>