h3{
    text-align: center;
    font-size: xx-large;
    color: var(--p-button-text-contrast-color);
    margin-top: 30px;
}

#stepper{
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--p-button-text-color);
}

p-inputgroup{
    margin: 20px;
    margin-top: 0px;
    width:100%;
}

p-select{

    width:20vw;

}

p-iftalabel{
    width: 800px;
}

.stepperContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.stepperLeft{
    width: fit-content;
    margin-right: 10px;
}

.stepperRight{
    width: fit-content;
    margin-right: 40px
}


@media screen and (max-width:800px) {
    .stepperContent{
        flex-direction: column;
        justify-content: center;
        margin-right: 20px;
    }

    .stepperRight{
        width: fit-content;

    }
    .stepperRight{
        width: fit-content;
        margin-right: 0px
    }
    .stepperLeft{
        width: fit-content;
        margin-right: 0px;
    }
    
}