h3{
    text-align: center;
    font-size: xx-large;
    color: var(--p-button-text-contrast-color);
    margin-top: 30px;
}

#stepper{
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--p-button-text-color);
}

p-inputgroup{
    margin: 20px;
    width: 40%;
}
