h3
{
    text-align: center;
    font-size: xx-large;
}
.container{
    padding: 20px;
    width: 40%;
    height: 600px;
    background-color: #e4832a;
    border-radius: 20px;
    color: white;
    font-size: larger;
    display: flex;
    flex-direction: column;
    align-items: center;
}

