h3
{
    text-align: center;
    font-size: xx-large;
    color: var(--p-button-text-contrast-color);
}
.container{
    padding: 20px;
    font-size: larger;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
    background-size:contain;

}



p-inputgroup{
    margin: 15px;

}

input{
    width:50vw;
}

p-password{
    width: 100%;
}

p-password{
    margin: 15px;

}


@media screen and (min-width:700px) {

    .container{
            width: 500px;
    }
    
}

