<h3>Regisztráció</h3>
<div class="container">
    <p-floatlabel>
    <input id="username" pInputText />
    <label for="username">Felhasználónév</label>
</p-floatlabel>
    <p-floatlabel>
    <input id="username" pInputText />
    <label for="username">Email-cím</label>
</p-floatlabel>
    <p-floatlabel>
    <input id="username" pInputText />
    <label for="username">Másodlagos email-cím</label>
</p-floatlabel>
    <p-floatlabel>
    <input id="username" pInputText />
    <label for="username">Jelszó</label>
</p-floatlabel>
    <p-floatlabel>
    <input id="username" pInputText/>
    <label for="username">Jelszó megerősítése</label>
</p-floatlabel>
    <p-floatlabel>
    <input id="username" pInputText />
    <label for="username">Lakcím</label>
</p-floatlabel>
    <p-floatlabel>
    <input id="username" pInputText />
    <label for="username">Telefonszám</label>
</p-floatlabel>
<p-button label="Submit" />
</div>