<div class="card flex justify-center FilterBringOutDiv">
  <p-drawer header="Filterek" [(visible)]="FilterDrawerVisible" styleClass="!w-full md:!w-80 lg:!w-[30rem]">
    <hr>
        <div class="FilterekDiv">
            <p-accordion>
                <p-accordion-panel value="0">
                    <p-accordion-header>Árak</p-accordion-header>
                    <p-accordion-content>
                        <br>
                        <div class="card flex justify-center">
                            <!--NG Modellezhető a slider! : value: number[] = [x,y]-->
                            <p-slider [range]="true" styleClass="w-56" />
                        </div>
                        <div class="PriceSliderLabelDiv">
                            <p>Min.</p>
                            <p>Max.</p>
                        </div>
                        <div class="PriceSliderLabelDiv">
                            <b>0 Ft</b>
                            <b>100,000 Ft</b>
                        </div>
                    </p-accordion-content>
                </p-accordion-panel>
            </p-accordion>


            <p-accordion>
                <p-accordion-panel value="0">
                    <p-accordion-header>Kártya tartalom</p-accordion-header>
                        <p-accordion-content>
                            <div class="UserOrAdDiv">
                                <h5>Felhasználók</h5>
                                <div class="card flex justify-center">
                                    <p-toggleswitch [(ngModel)]="UserOrAd" />
                                </div>
                                <h5>Hirdetések</h5>
                            </div>
                        </p-accordion-content>
                </p-accordion-panel>
            </p-accordion>


            <p-accordion>
                <p-accordion-panel value="1">
                    <p-accordion-header>Kategóriák</p-accordion-header>
                    <p-accordion-content>
                        <div class="card flex justify-center gap-4 FilterCheckBoxDiv">
                            <div class="flex items-center">
                                <p-checkbox inputId="ingredient1" name="pizza"value="Cheese" />
                                <label for="ingredient1" class="ml-2"> Cheese </label>
                            </div>
                            <div class="flex items-center">
                                <p-checkbox inputId="ingredient2" name="pizza" value="Mushroom" />
                                <label for="ingredient2" class="ml-2"> Mushroom </label>
                            </div>
                            <div class="flex items-center">
                                <p-checkbox inputId="ingredient3" name="pizza" value="Pepper"/>
                                <label for="ingredient3" class="ml-2"> Pepper </label>
                            </div>
                            <div class="flex items-center">
                                <p-checkbox inputId="ingredient4" name="pizza" value="Onion"/>
                                <label for="ingredient4" class="ml-2"> Onion </label>
                            </div>
                                                        <div class="flex items-center">
                                <p-checkbox inputId="ingredient1" name="pizza"value="Cheese" />
                                <label for="ingredient1" class="ml-2"> Cheese </label>
                            </div>
                            <div class="flex items-center">
                                <p-checkbox inputId="ingredient2" name="pizza" value="Mushroom" />
                                <label for="ingredient2" class="ml-2"> Mushroom </label>
                            </div>
                            <div class="flex items-center">
                                <p-checkbox inputId="ingredient3" name="pizza" value="Pepper"/>
                                <label for="ingredient3" class="ml-2"> Pepper </label>
                            </div>
                            <div class="flex items-center">
                                <p-checkbox inputId="ingredient4" name="pizza" value="Onion"/>
                                <label for="ingredient4" class="ml-2"> Onion </label>
                            </div>
                                                        <div class="flex items-center">
                                <p-checkbox inputId="ingredient1" name="pizza"value="Cheese" />
                                <label for="ingredient1" class="ml-2"> Cheese </label>
                            </div>
                            <div class="flex items-center">
                                <p-checkbox inputId="ingredient2" name="pizza" value="Mushroom" />
                                <label for="ingredient2" class="ml-2"> Mushroom </label>
                            </div>
                            <div class="flex items-center">
                                <p-checkbox inputId="ingredient3" name="pizza" value="Pepper"/>
                                <label for="ingredient3" class="ml-2"> Pepper </label>
                            </div>
                            <div class="flex items-center">
                                <p-checkbox inputId="ingredient4" name="pizza" value="Onion"/>
                                <label for="ingredient4" class="ml-2"> Onion </label>
                            </div>
                                                        <div class="flex items-center">
                                <p-checkbox inputId="ingredient1" name="pizza"value="Cheese" />
                                <label for="ingredient1" class="ml-2"> Cheese </label>
                            </div>
                            <div class="flex items-center">
                                <p-checkbox inputId="ingredient2" name="pizza" value="Mushroom" />
                                <label for="ingredient2" class="ml-2"> Mushroom </label>
                            </div>
                            <div class="flex items-center">
                                <p-checkbox inputId="ingredient3" name="pizza" value="Pepper"/>
                                <label for="ingredient3" class="ml-2"> Pepper </label>
                            </div>
                            <div class="flex items-center">
                                <p-checkbox inputId="ingredient4" name="pizza" value="Onion"/>
                                <label for="ingredient4" class="ml-2"> Onion </label>
                            </div>
                        </div>
                    </p-accordion-content>
                </p-accordion-panel>
                <p-accordion-panel value="2">
                    <p-accordion-header>Használtság</p-accordion-header>
                        <p-accordion-content>
                            <div class="card flex justify-center gap-4 FilterCheckBoxDiv">
                                <div class="flex items-center">
                                    <p-checkbox inputId="ingredient1" name="selejt" value="Selejt" />
                                    <label for="ingredient1" class="ml-2">Selejt</label>
                                </div>
                                <div class="flex items-center">
                                    <p-checkbox inputId="ingredient1" name="hasznalt" value="Hasznalt" />
                                    <label for="ingredient1" class="ml-2">Használt</label>
                                </div>
                                <div class="flex items-center">
                                    <p-checkbox inputId="ingredient1" name="uj" value="Uj" />
                                    <label for="ingredient1" class="ml-2">Új</label>
                                </div>
                                <div class="flex items-center">
                                    <p-checkbox inputId="ingredient1" name="bontatlan" value="Bontatlan" />
                                    <label for="ingredient1" class="ml-2">Bontatlan</label>
                                </div>
                            </div>
                        </p-accordion-content>
                </p-accordion-panel>
            </p-accordion>
        </div>
    </p-drawer>
    <p-button (click)="FilterDrawerVisible = true" icon="pi pi-arrow-right" />
</div>

<div class="container">
    <p-fluid>
        <div class="SearchBarDiv">
            <div class="SearchLeft">
                <p-inputgroup>
                    <input pInputText placeholder="Keresés" />
                    <p-inputgroup-addon>
                        <p-button icon="pi pi-search" severity="secondary" variant="text" />
                    </p-inputgroup-addon>
                </p-inputgroup>
            </div>

            <div class="card flex justify-center SearchRight">
                <p-select [options]="SortingCategories" [(ngModel)]="selectedSort" [checkmark]="true" optionLabel="label" [showClear]="true" placeholder="Szortírozás" class="w-full md:w-56" />
            </div>
        </div>
        <p-divider></p-divider>
    </p-fluid>
    <div class="CardsDiv">
        
    </div>
</div>
