.FilterBringOutDiv{
    margin: 2%;
    display: block;
    border: 0px;
    width: 0%;
}



html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100vw;
}

.UserOrAdDiv{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.UserOrAdDiv>h5{
    font-size: small;
}

.PriceSliderLabelDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 2%;
}

.FilterekDiv>p-accordion{
    margin-top: 10%;
    margin-bottom: 100%;
}

p-accordion-content{
    margin: 2%;
}

.FilterCheckBoxDiv{
    border: 0px;
}
.FilterCheckBoxDiv>div>label{
    margin-left: 5%;
}


//SearchBar
.container{
    
}
.SearchBarDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    border-radius: 20px 20px 0px 0px;
}
.SearchLeft{
    width: 78%;
}
.SearchRight{
    width: 21%;
}
