.FilterBringOutDiv{
    margin: 2%;
    display: block;
    border: 0px;
    width: 0%;
}



html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100vw;
}

.UserOrAdDiv{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.UserOrAdDiv>h5{
    font-size: small;
}

.PriceSliderLabelDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 2%;
}

.FilterekDiv>p-accordion{
    margin-top: 10%;
    margin-bottom: 100%;
}

p-accordion-content{
    margin: 2%;
}

.FilterCheckBoxDiv{
    border: 0px;
}
.FilterCheckBoxDiv>div>label{
    margin-left: 5%;
}


//SearchBar
.container{
    
}
.SearchBarDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    border-radius: 20px 20px 0px 0px;
}
.SearchLeft{
    width: 3%;
}
.SearchMid{
    width: 70%;
}
.SearchRight{
    width: 21%;
}


//Cards

.CardsDiv{
    display: flex;
    flex-direction: row;
    padding: 2%;
}

.UserAdvertDiv{
    display: flex;
    flex-direction: row;
    padding: 2%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.UserElement{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 17vh;
    flex-wrap: wrap;
    padding: 2%;
}
.UserElement>img{
    width: 14vh;
    height: 14vh;

    border: 3px dashed gray;
    border-radius: 100%;
    box-shadow: 2px 5px 10px 1px rgb(58, 45, 45);
}
.UserElement>h5{
    margin-top: 5%;
    color: var();
}