<footer>
    
    <div class="FooterDiv">
        <div class="ColOne FooterHeaders">
            <h4 class="FooterTitles">Cégünk <i class="pi pi-building"></i></h4>
            <hr>
            <p>A Wanted egy modern online piactér, ahol a kereslet és a kínálat valóban találkozik. Az oldalt <b>Rék Dávid, Czakó Csongor</b> és <b>Farkas Zalán</b> hozta létre azzal a céllal, hogy a hirdetésfeladás egyszerűbb, gyorsabb és átláthatóbb legyen mindenki számára. Nálunk nemcsak eladhatsz — megtalálhatod azt is, amit igazán keresel.</p>
            <hr>
        </div>
        <div class="ColTwo FooterHeaders">
            <h4 class="FooterTitles">Szolgáltatásaink <i class="pi pi-list"></i></h4>
            <hr>
            <p>Főoldal <i class="pi pi-home"></i></p>
            <p>Hirdetések <i class="pi pi-objects-column"></i></p>
            <p>Új hírdetés feladása <i class="pi pi-plus-circle"></i></p>
            <p></p>
            <hr>
        </div>
        <div class="ColThree FooterHeaders">
            <h4 class="FooterTitles">Kapcsolat <i class="pi pi-phone"></i></h4>
            <hr>
            <p>Github <i class="pi pi-github"></i></p>
            <p>Jira <i class="pi pi-list-check"></i></p>
            <hr>
            <p>Telefon <i class="pi pi-phone"></i></p>
            <p>Email <i class="pi pi-envelope"></i></p>
            <hr>
        </div>
        
    </div>
    <hr>
        <p class="Copyright">
            <i>
                &#64; Minden jog fenntartva
            </i>
        </p>
</footer>