footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #1f1f1f;
    color: white;
    bottom: 0;
    width: 100%;
    margin-top: 30%;
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}
#authors{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}
#links{
        display: flex;
    flex-direction: column;
    align-items: center;
}
#links a{
    color: white;
    text-decoration: none;
}

@media screen and (max-width:700px) {
    footer{
        flex-direction: column;
    }
    #authors{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}