
<div class="cardContainer">
    <p-card [style]="{ width: '18rem', height: '26rem', overflow: 'hidden' }" *ngFor="let ad of ads">
        <ng-template pTemplate="header">
            <div style="position: relative;">
                <img [alt]="ad.name" class="w-full" [src]="getAdImage(ad)" />
                <p class="adPrice">{{ad.price | number:'1.0-0':'hu'}} Ft</p>
            </div>
        </ng-template>
        <ng-template pTemplate="title" class="cardTitle">{{ad.name}}</ng-template>
        <ng-template pTemplate="subtitle">{{ad.category_id}}</ng-template>
        <p class="cardDescription">{{ad.description}}</p>
        <ng-template pTemplate="footer">
            <div class="flex gap-4 mt-1 cardFooter">
                <p-button icon="pi pi-heart" severity="secondary" class="w-full" [outlined]="true"
                    styleClass="w-full" />
                <p-button label="Érdekel" class="w-full interestBtn" styleClass="w-full" routerLink="/singleAdvert/{{ad.id}}" />
            </div>
        </ng-template>
    </p-card>
</div>