<div class="container-fluid p-0">
    <div class="HomeDisplay">
        <div class="BalDiv">
            <img class="MainLogo" src="main_logo.png" alt="">
            <div class="Felirat">
                <h1 class="Cim">WANTED</h1>
                <h6 class="Alcim">Ahol az árak nem hazudnak!</h6>
            </div>
        </div>
        <div class="JobbDiv">
            <img class="PaliLogo" src="PostManIcon.png" alt="" srcset="">
            <div class="KulsoGyuruDiv">
                <div class="BelsoGyuruDiv">
                    <img src="hamer.webp" alt="" srcset="">
                </div>
                <div class="BelsoGyuruDiv">
                    <img src="plush.jpg" alt="" srcset="">
                </div>
                <div class="BelsoGyuruDiv">
                    <img src="hat.jfif" alt="" srcset="">
                </div>
                <div class="BelsoGyuruDiv">
                    <img src="couch.avif" alt="" srcset="">
                </div>
                <div class="BelsoGyuruDiv">
                    <img src="menocsavar.jpg" alt="" srcset="">
                </div>
                <div class="BelsoGyuruDiv">
                    <img src="house.jpg
                    " alt="" srcset="">
                </div>
            </div>
        </div>
    </div>

    <div class="MiddleDiv">
        <div class="TagSectionDiv">
            <div class="TagCimDiv">
                <h1>Mit keresel?</h1>
            </div>
        </div>
        <hr>
            <div class="TagsDiv">
            <div class="TagsScroller leftToRight" >
                <div class="Tag" *ngFor="let tag of tags" (click)="goToAdsWithCategory(tag)" role="button" tabindex="0">
                    <i class="pi pi-tag"></i>
                    <h3>{{ tag.name }}</h3>
                </div>
            </div>
        </div>
        <hr>
        <div class="TagBody">
            <div class="TagsDiv">
                <div class="TagsScroller rightToLeft" >
                    <div class="Tag" *ngFor="let tag of tags" (click)="goToAdsWithCategory(tag)" role="button" tabindex="0">
                        <i class="pi pi-tag"></i>
                        <h3>{{ tag.name }}</h3>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>

    <div class="JavaslatokAKozeledbeDiv">
        <div class="NearbyCimDiv">
            <div class="nearbyCim">
                <h1>Javaslatok, amik tetszhetnek</h1>
                <hr>
            </div>
        </div>
    </div>
    <div class="KartyaJavaslatokDiv">
        <div class="KartyaJavaslatCsik">
        <app-cards></app-cards>
        </div>
    </div>
</div>