<div class="container-fluid p-0">
    <div class="HomeDisplay">
        <div class="BalDiv">
            <img class="MainLogo" src="main_logo.png" alt="">
            <div class="Felirat">
                <h1 class="Cim">WANTED</h1>
                <h6 class="Alcim">Ahol az árak nem hazudnak!</h6>
            </div>
        </div>
        <div class="JobbDiv">
            <img  class="PaliLogo" src="pali2.png" alt="" srcset="">
            <div class="KulsoGyuruDiv">
                <div class="BelsoGyuruDiv">
                    <img src="hamer.webp" alt="" srcset="">
                </div>
                <div class="BelsoGyuruDiv">
                    <img src="plush.jpg" alt="" srcset="">
                </div>
                <div class="BelsoGyuruDiv">
                    <img src="hat.jfif" alt="" srcset="">
                </div>
                <div class="BelsoGyuruDiv">
                    <img src="couch.avif" alt="" srcset="">
                </div>
                <div class="BelsoGyuruDiv">
                    <img src="menocsavar.jpg" alt="" srcset="">
                </div>
                <div class="BelsoGyuruDiv">
                    <img src="house.jpg
                    " alt="" srcset="">
                </div>
            </div>
        </div>
    </div>

    <div class="MiddleDiv">
        <div class="TagSectionDiv">
            <div class="TagCimDiv">
                <h1>Mit keresel?</h1>
            </div>
        </div>
    <hr>
        <div class="TagsDiv">
            <div class="TagsScroller leftToRight">
                <!-- original sequence -->
                <div class="Tag"><i class="pi pi-tag"></i><h3>Autó</h3></div>
                <div class="Tag"><i class="pi pi-tag"></i><h3>Ingatlan</h3></div>
                <div class="Tag"><i class="pi pi-tag"></i><h3>Telefon</h3></div>
                <div class="Tag"><i class="pi pi-tag"></i><h3>Autó</h3></div>
                <div class="Tag"><i class="pi pi-tag"></i><h3>Ingatlan</h3></div>
                <div class="Tag"><i class="pi pi-tag"></i><h3>Telefon</h3></div>
                <div class="Tag"><i class="pi pi-tag"></i><h3>Autó</h3></div>
                <div class="Tag"><i class="pi pi-tag"></i><h3>Ingatlan</h3></div>
                <div class="Tag"><i class="pi pi-tag"></i><h3>Telefon</h3></div>
                <!-- duplicated sequence for seamless loop -->
                <div class="Tag"><i class="pi pi-tag"></i><h3>Autó</h3></div>
                <div class="Tag"><i class="pi pi-tag"></i><h3>Ingatlan</h3></div>
                <div class="Tag"><i class="pi pi-tag"></i><h3>Telefon</h3></div>
                <div class="Tag"><i class="pi pi-tag"></i><h3>Autó</h3></div>
                <div class="Tag"><i class="pi pi-tag"></i><h3>Ingatlan</h3></div>
                <div class="Tag"><i class="pi pi-tag"></i><h3>Telefon</h3></div>
                <div class="Tag"><i class="pi pi-tag"></i><h3>Autó</h3></div>
                <div class="Tag"><i class="pi pi-tag"></i><h3>Ingatlan</h3></div>
                <div class="Tag"><i class="pi pi-tag"></i><h3>Telefon</h3></div>
            </div>
        </div>
    <hr>
        <div class="TagBody">
            <div class="TagsDiv">
                <div class="TagsScroller rightToLeft">
                    <!-- original sequence -->
                    <div class="Tag"><i class="pi pi-tag"></i><h3>Autó</h3></div>
                    <div class="Tag"><i class="pi pi-tag"></i><h3>Ingatlan</h3></div>
                    <div class="Tag"><i class="pi pi-tag"></i><h3>Telefon</h3></div>
                    <div class="Tag"><i class="pi pi-tag"></i><h3>Autó</h3></div>
                    <div class="Tag"><i class="pi pi-tag"></i><h3>Ingatlan</h3></div>
                    <div class="Tag"><i class="pi pi-tag"></i><h3>Telefon</h3></div>
                    <div class="Tag"><i class="pi pi-tag"></i><h3>Autó</h3></div>
                    <div class="Tag"><i class="pi pi-tag"></i><h3>Ingatlan</h3></div>
                    <div class="Tag"><i class="pi pi-tag"></i><h3>Telefon</h3></div>
                    <!-- duplicated sequence for seamless loop -->
                    <div class="Tag"><i class="pi pi-tag"></i><h3>Autó</h3></div>
                    <div class="Tag"><i class="pi pi-tag"></i><h3>Ingatlan</h3></div>
                    <div class="Tag"><i class="pi pi-tag"></i><h3>Telefon</h3></div>
                    <div class="Tag"><i class="pi pi-tag"></i><h3>Autó</h3></div>
                    <div class="Tag"><i class="pi pi-tag"></i><h3>Ingatlan</h3></div>
                    <div class="Tag"><i class="pi pi-tag"></i><h3>Telefon</h3></div>
                    <div class="Tag"><i class="pi pi-tag"></i><h3>Autó</h3></div>
                    <div class="Tag"><i class="pi pi-tag"></i><h3>Ingatlan</h3></div>
                    <div class="Tag"><i class="pi pi-tag"></i><h3>Telefon</h3></div>
                </div>
            </div>
            <hr>
        </div>
    </div>
    
    <div class="JavaslatokAKozeledbeDiv">
        <div class="NearbyCimDiv">
            <div class="nearbyCim">
                <h1>Javaslatok a közeledben</h1>
                <hr>
                <h5>(Bács-kiskun vármegye)</h5>
            </div>
        </div>
    </div>
            <div class="KartyaJavaslatokDiv">
            <div class="KartyaJavaslatCsik">
        </div>
    </div>
</div>