<div class="container-fluid p-0">
    <div class="HomeDisplay">
        <div class="BalDiv">
            <img class="MainLogo" src="main_logo.png" alt="">
            <div class="Felirat">
                <h1 class="Cim">WANTED</h1>
                <h6 class="Alcim">Ahol az árak nem hazudnak!</h6>
            </div>
        </div>
        <div class="JobbDiv">
            <img  class="PaliLogo" src="pali.png" alt="" srcset="">
        </div>
    </div>

    <div class="TagSectionDiv">
        <div class="TagCimDiv">
            <h1>Mit keresel?</h1>
        </div>
    </div>
    <div class="TagsDiv">
            <div class="Tag">
                <i class="pi pi-tag"></i>
                <h3>Autó</h3>
            </div>
            <div class="Tag">
                <i class="pi pi-tag"></i>
                <h3>Ingatlan</h3>
            </div>
            <div class="Tag">
                <i class="pi pi-tag"></i>
                <h3>Telefon</h3>
            </div>
            <div class="Tag">
                <i class="pi pi-tag"></i>
                <h3>Autó</h3>
            </div>
            <div class="Tag">
                <i class="pi pi-tag"></i>
                <h3>Ingatlan</h3>
            </div>
            <div class="Tag">
                <i class="pi pi-tag"></i>
                <h3>Telefon</h3>
            </div>
                        <div class="Tag">
                <i class="pi pi-tag"></i>
                <h3>Autó</h3>
            </div>
            <div class="Tag">
                <i class="pi pi-tag"></i>
                <h3>Ingatlan</h3>
            </div>
            <div class="Tag">
                <i class="pi pi-tag"></i>
                <h3>Telefon</h3>
            </div>
            
    </div>
</div>