input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3em;

    background-color: var(--primary-dark-color);
    color: var(--primary-font-color);
    transition: 0.3s;
}

input:focus {
    animation: inputFocus 0.3s ease-in-out forwards;
    transition: 0.3s;
    background-color: var(--primary-dark-color);
    color: var(--primary-font-color);
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 5px var(--primary-color);
}

@keyframes inputFocus {
    0% {
        width: 300px;
    }

    100% {
        width: 500px;
    }
}



button {
    border-radius: 3em;
    background-color: var(--primary-color);
    color: var(--primary-font-color);
    border: none;
    padding: 10px 20px;
    transition: .2s ease-in-out;
}

button:hover {
    background-color: var(--primary-font-color);
    color: var(--primary-dark-color);
    box-shadow: inset 0 0 5px 2px var(--primary-dark-color);
    border: none;
    padding: 10px 20px;
    animation: buttonHover 0.3s ease-in-out;
}

button:active {
    background-color: var(--primary-dark-color) !important;
    color: var(--primary-color);
    box-shadow: inset 0 0 5px 2px var(--primary-dark-color);
    border: none;
    padding: 10px 20px;
}